%h1 Listing wtfornots

%table
  %tr
    %th Title
    %th Url
    %th User
    %th Points
    %th Image1
    %th Image2
    %th
    %th
    %th

  - @hailwtfornots.each do |hailwtfornot|
    %tr
      %td= hailwtfornot.title
      %td= hailwtfornot.url
      %td= hailwtfornot.user_id
      %td= hailwtfornot.points
      %td= hailwtfornot.image1
      %td= hailwtfornot.image2
      %td= link_to 'Show', hailwtfornot
      %td= link_to 'Edit', edit_hailwtfornot_path(hailwtfornot)
      %td= link_to 'Destroy', hailwtfornot, confirm: 'Are you sure?', method: :delete

= link_to 'New wtfornot', new_hailwtfornot_path
