= stylesheet_link_tag    "hailwtfornots"

%p#notice= notice

.details
  %h1= @hailwtfornot.title

  %p.medium-font
    %b Wtfornot Created By:
    = @hailwtfornot.user ? @hailwtfornot.user.username : User::ANON

  %p.medium-font
    %b.total_fucks_given Total fucks given: #{@hailwtfornot.points}
  
  = button_to "Create your own wtfornot", new_path, :method => :get, :class => "buttonTo"

  %h2 OR

  %br
  %h3 Click on an image to give it a Fuck
  - if !user_signed_in?
    %h3.red (You'll need to sign in to do that)
  %br

  - if @hailwtfornot.user and @hailwtfornot.user == current_user
    %h3.own You created this. So you've already given it a fuck.

  - if !@wtfornot_user.nil?
    %h3.own You've already given it a fuck.

.show
  .left
    %p
      %h4.fucks_given_image1 Fucks Given: #{@image1.points}
      = link_to (image_tag @image1.file.url(:medium), :class=> 'medium'), "#", :class => "img_link", :value => @image1.id, :points => @image1.points, :fucks_given_el => ".fucks_given_image1", :hailwtfornot_id => @hailwtfornot.id, :total_fucks_given_el => '.total_fucks_given', :total_points => @hailwtfornot.points 
      %h1.vs Vs

  .right
    %p
      %h4.fucks_given_image2 Fucks Given: #{@image2.points}
      = link_to (image_tag @image2.file.url(:medium), :class => 'medium'), "#", :class => "img_link", :value => @image2.id, :points => @image2.points, :fucks_given_el => ".fucks_given_image2", :hailwtfornot_id => @hailwtfornot.id, :total_fucks_given_el => '.total_fucks_given', :total_points => @hailwtfornot.points

- if not (!@wtfornot_user.nil? or (@hailwtfornot.user and @hailwtfornot.user == current_user))
  :javascript
    $(".img_link").click(function(e) {
      e.preventDefault();
      hailwtfornot_id = this.getAttribute('hailwtfornot_id')
      image_id = this.getAttribute('value')
      fucks_given = parseInt(this.getAttribute('points'))
      total_fucks_given = parseInt(this.getAttribute('total_points'))
      fucks_given_el = this.getAttribute('fucks_given_el')
      total_fucks_given_el = this.getAttribute('total_fucks_given_el')
      $.post("#{add_point_image_path}", 
        {image_id: image_id, hailwtfornot_id: hailwtfornot_id}, 
        function(data){
          if(data.result == "success"){
            html = "Fucks Given: " + (fucks_given + 1)
            total_fucks_given_html = "Total fucks given: " + (total_fucks_given + 1)
            $(fucks_given_el).html(html)
            $(total_fucks_given_el).html(total_fucks_given_html)
            $(".img_link").css('pointer-events', 'none')
            $(".img_link").css('cursor', 'default')
          }
          else if(data.result == "login") {
            window.location = "#{new_user_session_path}"
          }
          else{
            alert("Failed to give it a fuck")
          }
        }
      )
      return false;
    });

