- if !defined? obj
  - obj = "image"

- if user_signed_in?
  = hidden_field "#{obj}", :user_id, { value: "#{current_user.id}" }

.field
  = label :"#{obj}", :name
  = text_field :"#{obj}", :name
.field
  = file_field :"#{obj}", :file, :class => 'select-file'

