= form_for @image, :html => { :multipart => true } do |f|
  - if @image.errors.any?
    #error_explanation
      %h4= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"

      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  = render 'basic_fields'
  .actions
    = f.submit
