<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    %title Give it a fuck
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .heading
        = link_to "GIAF (accepts only jpeg, png and gif)", root_url
        %br    
        %hr
      .content
        = yield
      .push
    .footer
      = link_to 'Made by Reddit lovers at ThoughtNirvana', 'http://www.thoughtnirvana.com/'
      %hr

