%html
  %head
    %title Give it a fuck: Made for Redditors, by a Redditor
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .heading
        = link_to "GIAF (accepts only jpeg, png and gif)", root_url, :title => "Give it a fuck (accepts only jpeg, png and gif)"
        %br    
        %hr
      .content
        = yield
      .push
    .footer
      = link_to 'Made by Reddit lovers at ThoughtNirvana', 'http://www.thoughtnirvana.com/'
      %hr

